# do not require -w flag when installing to the root
ignore-workspace-root-check=true
# avoid linking */node_modules/{package_name} to packages/{package_name}
link-workspace-packages = false
# npm registry auth (token set by CI via NODE_AUTH_TOKEN env var)
//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
