@supports (view-transition-name: root) {
  ::view-transition-old(root) {
    @apply animate-none mix-blend-normal;
  }

  ::view-transition-new(root) {
    animation: clip 0.5s ease-in;
    @apply mix-blend-normal motion-reduce:animate-none;
  }

  @keyframes clip {
    0% {
      clip-path: circle(0% at var(--theme-toggle-x) var(--theme-toggle-y));
      filter: blur(2px);
      transform: scale(1.01);
    }

    100% {
      clip-path: circle(150% at var(--theme-toggle-x) var(--theme-toggle-y));
    }
  }
}
