name: CI

on:
  pull_request:
    paths-ignore:
      - "**.md"

  push:
    branches:
      # latest release
      - master
      # pre releases
      - next
      - alpha
      - beta
      # snapshot releases
      - snapshot
      # maintenance releases
      - v[0-9]+.x
      - v[0-9]+.[0-9]+.x

env:
  CI: true

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Build
        run: pnpm build

      - name: Check all files
        if: ${{ always() }}
        run: pnpm check .

      - name: Type check
        if: ${{ always() }}
        run: pnpm typecheck

      - name: Tests with coverage
        if: ${{ always() }}
        run: pnpm test:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false

  test-dist:
    name: Run tests against dist files
    runs-on: ubuntu-latest
    strategy:
      matrix:
        filename: [index.js, index.cjs]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Build
        run: pnpm build:minified

      - name: Cleanup src folders to make sure the tests do not use source files
        run: |
          rm -rf packages/signal/src/*
          rm -rf packages/signal-form/src/*

      - name: Copy dist/${{ matrix.filename }} as src/index.ts
        run: |
          cp packages/signal/dist/${{ matrix.filename }} packages/signal/src/index.ts
          cp packages/signal-form/dist/${{ matrix.filename }} packages/signal-form/src/index.ts

      - name: Test
        run: pnpm test:run

  test-react-support:
    name: Run tests against support react
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [18.0.0, 19.0.0]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Build
        run: pnpm build

      - name: Install react@${{ matrix.version }}
        run: pnpm add -D --filter ./packages/* react@${{ matrix.version }} react-dom@${{ matrix.version }} @types/react@${{ matrix.version }}

      - name: Test against react@${{ matrix.version }}
        run: pnpm test:run

      - name: Typecheck against react@${{ matrix.version }}
        run: pnpm typecheck

  test-signal-support:
    # disable the job until a new version is released
    if: false
    name: Run tests against support signal
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [0.0.0]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Install @owanturist/signal v${{ matrix.version }}
        run: pnpm add -D --filter ./packages/signal-form @owanturist/signal@${{ matrix.version }}

      - name: Build
        run: pnpm build

      - name: Test against @owanturist/signal v${{ matrix.version }}
        run: pnpm test:run --project signal-form

      - name: Typecheck against @owanturist/signal v${{ matrix.version }}
        run: pnpm run --filter ./packages/signal-form typecheck

  size-limit:
    name: Size Limit
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Check size
        uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_step: install
          build_script: build:minified

  release:
    name: Release on npm
    runs-on: ubuntu-latest
    needs: [checks, test-dist, test-react-support, test-signal-support]
    # prevents this action from running on forks and only on pushes
    if: ${{ github.repository_owner == 'owanturist' && github.event_name == 'push' }}
    concurrency: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Change .changeset baseBranch to the current branch
        run: |
          perl -i -pe"s/\"baseBranch\":.*/\"baseBranch\": \"${{ github.ref_name }}\",/g" .changeset/config.json

      - name: Commit updated .changeset config
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Change .changeset `baseBranch` to ${{ github.ref_name }}"
          file_pattern: ".changeset/config.json"

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          publish: pnpm run publish --tag=${{ github.ref_name == 'master' && 'latest' || github.ref_name == 'next' && 'next' || github.ref_name == 'alpha' && 'alpha' || github.ref_name == 'beta' && 'beta' || ' ' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
