name: CI

on:
  pull_request:
    paths-ignore:
      - "**.md"

  push:
    branches:
      # latest release
      - master
      # pre releases
      - next
      - alpha
      - beta
      # snapshot releases
      - snapshot
      # maintenance releases
      - v[0-9]+.x
      - v[0-9]+.[0-9]+.x

env:
  CI: true

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Build packages
        run: pnpm build:packages

      - name: Build docs
        run: pnpm build:docs

      - name: Check all files
        if: ${{ always() }}
        run: pnpm check .

      - name: Type check
        if: ${{ always() }}
        run: pnpm typecheck

      - name: Tests with coverage
        if: ${{ always() }}
        run: pnpm test:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false

  test-dist:
    name: Run tests against dist files
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Build
        run: pnpm build:packages:minified

      - name: Replace source files by dist files
        run: |
          for pkg in signal signal-form signal-react; do
            rm -rf packages/$pkg/src/*
            find packages/$pkg/dist -name "*.js" | while read f; do
              cp "$f" "packages/$pkg/src/$(basename "$f" .js).js"
            done
          done

      - name: Test
        run: pnpm test:run

  test-react-support:
    name: Run tests against support react
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [18.0.0, 19.0.0]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Build
        run: pnpm build:packages

      - name: Install react@${{ matrix.version }}
        run: pnpm add -D --filter signal-react react@${{ matrix.version }} @types/react@${{ matrix.version }} react-dom@${{ matrix.version }}

      - name: Test against react@${{ matrix.version }}
        run: pnpm test:run

      - name: Typecheck against react@${{ matrix.version }}
        run: pnpm typecheck

  test-signal-support:
    name: Run tests against support signal
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [0.1.0]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Install @owanturist/signal v${{ matrix.version }}
        run: pnpm add -D --filter signal-form --filter signal-react @owanturist/signal@${{ matrix.version }}

      - name: Build
        run: pnpm build:packages

      - name: Test against @owanturist/signal v${{ matrix.version }}
        run: pnpm test:run --project @owanturist/signal-form --project @owanturist/signal-react

      - name: Typecheck against @owanturist/signal v${{ matrix.version }}
        run: pnpm run --filter signal-form --filter signal-react typecheck

  size-limit:
    name: Size Limit
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Check size
        uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_step: install
          build_script: build:packages:minified

  release:
    name: Release on npm
    runs-on: ubuntu-latest
    needs: [checks, test-dist, test-react-support, test-signal-support]
    # prevents this action from running on forks and only on pushes
    if: ${{ github.repository_owner == 'owanturist' && github.event_name == 'push' }}
    concurrency: ${{ github.workflow }}-${{ github.ref }}
    permissions:
      id-token: write # Required for npm Trusted Publishers OIDC
      contents: write # Required for changesets to commit and push
      pull-requests: write # Required for changesets to create version PR
      issues: write # Required for changesets to post issue comments

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup environment
        uses: ./.github/actions/setup-env

      - name: Change .changeset baseBranch to the current branch
        run: |
          perl -i -pe"s/\"baseBranch\":.*/\"baseBranch\": \"${{ github.ref_name }}\",/g" .changeset/config.json

      - name: Commit updated .changeset config
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Change .changeset `baseBranch` to ${{ github.ref_name }}"
          file_pattern: ".changeset/config.json"

      - name: Build packages
        run: pnpm build:packages:minified

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          version: pnpm run version
          publish: pnpm run release -- --tag=${{ github.ref_name == 'master' && 'latest' || github.ref_name == 'next' && 'next' || github.ref_name == 'alpha' && 'alpha' || github.ref_name == 'beta' && 'beta' || ' ' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true